.header {
  margin: 1rem auto;
  width: 90%;
  max-width: $max-width;
  padding: 1rem;
  text-align: center;
  border-radius: $radius;

  @media (min-width: $medium) {
    margin: 2rem auto 1rem;
    padding: 2rem;
  }

  & > *:first-child {
    margin-top: 0;
  }

  &__logo-link {
    &:focus {
      outline: none;
    }
  }

  &__logo {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid transparent;
    margin: 0rem auto 1rem;
    background-size: cover;
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    transition: 0.3s all ease;
    text-transform: uppercase;
  }

  .pagination {
    display: none;
  }

  @media (min-width: 80em) {
    &--fixed {
      position: fixed;
      margin: 0;
      width: calc((100% -  746px) / 2 - 2rem);

      .nav__list-item {
        display: block;
      }

      .pagination {
        display: block;
        margin-top: 2rem;
      }

    }
  }
}
