* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media screen and (min-width: $xlarge){
    font-size: 120%;
  } 

}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h1 {
	font-size: 1.3rem
}

h2 {
	font-size: 1.2rem
}

h3, h4, h5, h6 {
	font-size: 1.1rem
}


a {
  text-decoration: none
}

