* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh; 
  line-height: 1.6;

  @media screen and (min-width: $xlarge){
    font-size: 120%;
  } 
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 1.375rem
}

h2 {
  font-size: 1.25rem
}

h3, h4, h5, h6 {
  font-size: 1.125rem
}


a {
  text-decoration: none
}

small {
  font-size: 0.875rem;
}

figure {
  margin: 1rem 0;
}

blockquote {
  margin: 0.5rem;
  padding: 0 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

