.content__wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;

  & .content:last-child {
    margin-bottom: 2rem;
  }
}

.content {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: $radius;

  @media (min-width: $medium) {
    padding: 2rem;
  }
}