.skip-to {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  background: rgba(255,255,255, 0.8);
  color: #333;
  opacity: 0;
  z-index: 3;

  &:focus {
    opacity: 1;
  }
}

.accent-link {
  display: inline-block;
  line-height: 1.6;
}

.accent-link, .tumblr_blog, .asker, .answerer {
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.color-link {
  transition: all 0.3s ease;
}
